:root {
    --coffee-dark:#3E2723;
    --coffee-medium:#6F4E37;
    --coffee-light:#C4A484;
    --coffee-acent:#D2B48C;
    --coffee-cream:#F5F5DC;
    --coffee-gold:#D4AF37;
    --text-darkl:#2C2416;
    --text_light:#f3f3f3;
    
}

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            font-family: "Montserrat", sans-serif;
            background: var(--coffee-cream);
            color: var(--text-dark);
            line-height: 1,7;
            overflow-x: hiden;
        }

        .container {
            width : 90%;
            max-width: 1200px;
            margin: 0 auto;        
        }

        
        header {
            background: #161515;
            padding: 0;
            min-height: 80px;
            display: flex;
            align-items: center;
        }

        .header.container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            padding: 0 2rem;
            gap: 2rem;
        
        }

        .logo {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            text-decoration: none; 
            white-space: nowrap;  
        }

        .logo-icon {
         font-size: 2rem;
         color: #d4af37
        }

        .logo-text {
            font-family: 'Playfair Display', serif;
            font-size: 20px;
            font-weight: 900;
            color: var(--coffee-medium);
            letter-spacing: 1px;
        }

        .logo-text span {
            color: var(--coffee-gold);
        }

        nav ul {
            display: flex;
            list-style: none;
            gap: 35px;
        }

        nav a {
            text-decoration: none;
            color: var(--coffee-medium);
            font-weight: 600;
            font-size: 16px;
            position: relative;
            padding:5px 0;
            transition: color 0.3s ease;

        }
    
        nav a:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0;
            height: 2px;
            background: var(--coffee-gold);
            transition: width 0.3s ease;
        }

        nav a:hover:after {
            width: 100%;
        }

        .nav-buttons {
            display: flex;
            gap: 15px;

        }

        .btn {
        display: inline-block;
        padding : 8px 20px;
        border-radius: 25px;
        text-decoration: none;
        font-weight: 600;
        transition: all 0.3s ease;
        cursor: pointer;
        border: none;
        font-size: 16px;
        }   

        .btn-primary {
            background: var(--coffee-medium);
            color: white;
        }

        .btn-primary:hover {
            background: var(--coffee-dark);
            transform: translateY(-3px);
        }

      .btn-secuydary {
        background: transparent;
        color: var(--coffee-medium);
        border: 2px solid var(--coffee-medium);
      }

      .btn-secundary: hover {
        background: rgba(111, 787, 55, 0.05);
        transform: translateYU(-3px);
      }
       